<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="com.hangfu.foodtruck" />

	<!-- import the impl service beans -->
	<import resource="classpath*:implApplicationContext.xml" />

	<!-- Boot strap job -->
	<bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<!-- wait 5 seconds before starting repeated execution -->
		<property name="delay" value="5000" />
		<property name="timerTask" ref="dataCachingThread" />
	</bean>

	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="scheduledTask" />
			</list>
		</property>
		<property name="daemon" value="true" />
	</bean>

	<!-- Quartz job -->
	<bean id="cacheRefreshJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="dataCachingThread" />
		<property name="targetMethod" value="run" />
		<property name="concurrent" value="false" />
	</bean>

	<!-- Cron Trigger, run at 5am every day -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="cacheRefreshJob" />
		<property name="cronExpression" value="0 0 5 * * ?" />
	</bean>

	<bean id="quartzSchedulerFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>

</beans>
